body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 0px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u1645 {
  position:absolute;
  left:170px;
  top:50px;
  width:107px;
  height:29px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  position:absolute;
  left:0px;
  top:608px;
  width:1366px;
  height:132px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:58px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:132px;
}
#u1650 {
  position:absolute;
  left:0px;
  top:608px;
  width:1366px;
  height:132px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:58px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:740px;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:740px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:362px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:340px;
  height:300px;
}
#u1655 {
  position:absolute;
  left:857px;
  top:115px;
  width:320px;
  height:280px;
  opacity:0.95;
}
#u1656 {
  position:absolute;
  left:2px;
  top:132px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u1657 {
  position:absolute;
  left:893px;
  top:227px;
  width:250px;
  height:25px;
  color:#949494;
  text-align:left;
}
#u1658 {
  position:absolute;
  left:2px;
  top:4px;
  width:246px;
  word-wrap:break-word;
}
#u1659 {
  position:absolute;
  left:892px;
  top:227px;
  width:252px;
  height:25px;
}
#u1659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u1660 {
  position:absolute;
  left:893px;
  top:165px;
  width:169px;
  height:25px;
  color:#949494;
  text-align:left;
}
#u1661 {
  position:absolute;
  left:2px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u1662 {
  position:absolute;
  left:893px;
  top:165px;
  width:169px;
  height:25px;
}
#u1662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u1663 {
  position:absolute;
  left:1058px;
  top:165px;
  width:83px;
  height:25px;
}
#u1663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#363636;
  text-align:left;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:22px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:113px;
}
#u1666 {
  position:absolute;
  left:0px;
  top:334px;
  width:328px;
  height:113px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:48px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:41px;
}
#u1668 {
  position:absolute;
  left:14px;
  top:470px;
  width:152px;
  height:41px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1670 {
  position:absolute;
  left:817px;
  top:11px;
  width:74px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1671 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1672 {
  position:absolute;
  left:817px;
  top:11px;
  width:74px;
  height:20px;
  color:#868686;
}
#u1673 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1674 {
  position:absolute;
  left:891px;
  top:11px;
  width:74px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1675 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1676 {
  position:absolute;
  left:891px;
  top:11px;
  width:74px;
  height:20px;
  color:#868686;
}
#u1677 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1678 {
  position:absolute;
  left:965px;
  top:11px;
  width:74px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1679 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1680 {
  position:absolute;
  left:965px;
  top:11px;
  width:74px;
  height:20px;
  color:#868686;
}
#u1681 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1682 {
  position:absolute;
  left:1039px;
  top:11px;
  width:126px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1683 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1684 {
  position:absolute;
  left:1039px;
  top:11px;
  width:126px;
  height:20px;
  color:#868686;
}
#u1685 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1686 {
  position:absolute;
  left:1165px;
  top:11px;
  width:90px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1687 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1688 {
  position:absolute;
  left:1165px;
  top:11px;
  width:90px;
  height:20px;
  color:#868686;
}
#u1689 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#868686;
}
#u1690 {
  position:absolute;
  left:1255px;
  top:11px;
  width:82px;
  height:20px;
  text-decoration:underline;
  color:#868686;
}
#u1691 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1692 {
  position:absolute;
  left:1255px;
  top:11px;
  width:82px;
  height:20px;
  color:#868686;
}
#u1693 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1694 {
  position:absolute;
  left:385px;
  top:625px;
  width:59px;
  height:23px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1695 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1696 {
  position:absolute;
  left:385px;
  top:625px;
  width:69px;
  height:23px;
  color:#6B6B6B;
}
#u1697 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1698 {
  position:absolute;
  left:454px;
  top:625px;
  width:65px;
  height:23px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1699 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1700 {
  position:absolute;
  left:454px;
  top:625px;
  width:65px;
  height:23px;
  color:#6B6B6B;
}
#u1701 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1702 {
  position:absolute;
  left:514px;
  top:625px;
  width:65px;
  height:23px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1703 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1704 {
  position:absolute;
  left:514px;
  top:625px;
  width:65px;
  height:23px;
  color:#6B6B6B;
}
#u1705 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1706 {
  position:absolute;
  left:584px;
  top:625px;
  width:336px;
  height:23px;
  text-decoration:underline;
  color:#6B6B6B;
}
#u1707 {
  position:absolute;
  left:2px;
  top:4px;
  width:332px;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1708 {
  position:absolute;
  left:579px;
  top:625px;
  width:341px;
  height:23px;
  color:#6B6B6B;
}
#u1709 {
  position:absolute;
  left:2px;
  top:4px;
  width:337px;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0033FF;
}
#u1710 {
  position:absolute;
  left:1095px;
  top:332px;
  width:58px;
  height:15px;
  font-size:11px;
  color:#0033FF;
}
#u1711 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1712 {
  position:absolute;
  left:893px;
  top:140px;
  width:48px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1714 {
  position:absolute;
  left:893px;
  top:200px;
  width:62px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0033FF;
}
#u1716 {
  position:absolute;
  left:1054px;
  top:202px;
  width:90px;
  height:15px;
  font-size:11px;
  color:#0033FF;
}
#u1717 {
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1718 {
  position:absolute;
  left:894px;
  top:289px;
  width:252px;
  height:33px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1719 {
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  word-wrap:break-word;
}
#u1720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1720 {
  position:absolute;
  left:894px;
  top:289px;
  width:252px;
  height:33px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1721 {
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  word-wrap:break-word;
}
#u1723 {
  position:fixed;
  left:98px;
  bottom:0px;
}
#u1723_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1723_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
